<%- include("./header", { 
    filename: "/public/css/auth.css",
    title: "Login"
}) %>
    <div class="auth">
        <div class="auth-title">Login</div>
        <div class="auth-error-message"><%= message %> </div>
        <form action="/login" method="post" class="auth-form">
            <input type="text" name="username" class="auth-form-input auth-form-item" placeholder="Username">
            <input type="password" name="password" class="auth-form-input auth-form-item" placeholder="Password">
            <button class="auth-form-button auth-form-item">log in</button>
        </form>
        <div class="auth-link">New to pizza game? <a href="/signup">sign in</a></div>
    </div>
<%- include("./footer") %>